
header{
    display: flex ;
    width: 101.5%;
    justify-content: center;
    background-color: #e9e0d5;
    height: 200px;
    margin-top: 125px;
}
header img{
    margin: 20px;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 500px;
}
.Primeros{
    display: flex;
    justify-content: space-around;
    width: 75%;
}
.boton1{
    margin: 50px;
}
.boton2{
    margin: 50px;
}

.Segundos{
    display: flex;
    justify-content: space-around;
    width: 75%;
}

.boton3{
    margin: 50px;
}
.boton4{
    margin: 50px;
}


.SUBboton{
    background-color: rgb(233, 200, 111);
    border-color: rgb(98, 34, 34);
    color: rgb(98, 34, 34);
    border-radius: 40px;
    font-weight: 900;
    font-size: 20px;
    font-family: Comic;
    width: 190px;
    height: 190px;
    border-width:3.4px;
    letter-spacing: 2px;
}

@media (max-width: 380px){
    header{
        width: 104.2%;
    }
    body{
        margin-top: 317px;
    }
    .Primeros{
        flex-direction: column;
    }
    .Segundos{
        flex-direction: column;
    }
}